<% wrap_layout "layout" do %>
<%
 # Truncating  - "item/"
 item_no = current_page.path.chomp("/index.html")[5,99]
 item_imgs = Dir.glob("source/"+current_page.path.chomp("index.html")+"*s.{jpg,JPG,gif,GIF,png,PNG}").sort
%>
<div id="item">
	<h1><%= current_article.title %></h1>
	<div style="clear: both">
	<table cellpadding="0" border="0" cellspacing="0" style="width: 50%; float: left;">
		<tr><td><strong>Item No.:</strong>&nbsp;</td><td><%= current_article.slug %></td></tr>
		<% if current_page.data.barcode %>
		 <tr><td><strong>Barcode:</strong>&nbsp;</td><td><%= current_page.data.barcode %></td></tr>
		<% end %>
	</table>
	<table cellpadding="0" border="0" cellspacing="0" style="width: 50%; float: left; text-align: right;">
		<% if current_page.data.expected %>
		 <tr><td><strong>
		<% if current_page.data.restock == 1 %>
		 Restocking: 
		<% else %>
		 Expect by: 
		<% end %>
		</strong>&nbsp;</td><td><%= current_page.data.expected %></td></tr>
		<% end %>
	</table></div>
	<% if item_imgs.size > 0 %>
		<% imagefile=item_imgs[0][13+item_no.length,150] %>
		<div style="text-align: center;clear: both; padding: 1em 0;">
		<a class="group3" href="/<%= current_page.path.chomp("index.html")+imagefile[0,imagefile.length-5]+imagefile[imagefile.length-4,imagefile.length]%>"><img style="max-height: 250px; max-width: 550px;" src="/<%= current_page.path.chomp("index.html")+imagefile[0,imagefile.length-5]+imagefile[imagefile.length-4,imagefile.length] %>" alt="Main Product Image"></a>
	<% else %>
		<p style="font-weight:bolder;text-align: center;clear: both; padding: 1em;">NO IMAGE AVAILABLE AT THIS TIME</p>
	<% end %>

	<div class="description"><%= yield %></div>

	<% if item_imgs.size > 1 %>
		<div class="imageset">
			<%
			# Image files must be renamed to article (not page) title to avoid conflicts and complications with names ending in 's'. Also if other image files were include for any reason.
			# Using a regular expression to find the last occurrence of a slash would be preferred over just removing "index.html"
			%>
			<% item_imgs.drop(1).each do |entry| %>
				<% imagefile=entry[13+item_no.length,150] %>
				<a class="group3" href="/<%= current_page.path.chomp("index.html")+imagefile[0,imagefile.length-5]+imagefile[imagefile.length-4,imagefile.length]%>"><img src="/<%= current_page.path.chomp("index.html")+imagefile %>" alt="Product Image" width="130"></a>
			<% end %>
		</div>
	<% end %>
</div>
<%end%>