<!doctype html>
<html lang="en">
<head><%= partial "head" %></head>
<body>
<div class="wrapper" id="product">
	<header><%= partial "header" %></header>
	<div id="main" role="main">
		<table><tr>
			<td id="sidebar" valign="top"><aside><%= partial "aside" %></aside></td>
			<td id="content"><%= yield %></td>
		</tr></table>
	</div>
		<footer><%= partial "footer" %></footer>
</div>
</body>
</html>