<!doctype html>
<html lang="en">
<head><%= partial "head" %></head>
<body>
<header><%= partial "header" %></header>
<div id="main" role="main"><%= yield %></div>
<aside><%= partial "aside" %></aside>
<footer><%= partial "footer" %></footer>
</body>
</html>